<?xml version="1.0"?>
<!--
/**
 * This file is part of the Semaio_CustomSku module.
 *
 * See LICENSE.md bundled with this module for license details.
 *
 * @category  Semaio
 * @package   Semaio_CustomSku
 * @author    semaio GmbH <hello@semaio.com>
 * @copyright 2016 semaio GmbH (http://www.semaio.com)
 */
-->
<config>
    <modules>
        <Semaio_CustomSku>
            <version>1.0.0</version>
        </Semaio_CustomSku>
    </modules>
    <global>
        <blocks>
            <semaio_customsku>
                <class>Semaio_CustomSku_Block</class>
            </semaio_customsku>
        </blocks>
        <helpers>
            <semaio_customsku>
                <class>Semaio_CustomSku_Helper</class>
            </semaio_customsku>
        </helpers>
        <models>
            <semaio_customsku>
                <class>Semaio_CustomSku_Model</class>
                <resourceModel>semaio_customsku_resource</resourceModel>
            </semaio_customsku>
            <semaio_customsku_resource>
                <class>Semaio_CustomSku_Model_Resource</class>
                <entities>
                    <customsku>
                        <table>semaio_customsku</table>
                    </customsku>
                </entities>
            </semaio_customsku_resource>
        </models>
        <resources>
            <semaio_customsku_setup>
                <setup>
                    <module>Semaio_CustomSku</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </semaio_customsku_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <custom_sku>
                    <to_order_item>*</to_order_item>
                </custom_sku>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <custom_sku>
                    <to_quote_item>*</to_quote_item>
                </custom_sku>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <semaio_customsku>
                <use>standard</use>
                <args>
                    <module>Semaio_CustomSku</module>
                    <frontName>customsku</frontName>
                </args>
            </semaio_customsku>
        </routers>
        <layout>
            <updates>
                <semaio_customsku>
                    <file>semaio/customsku.xml</file>
                </semaio_customsku>
            </updates>
        </layout>
        <translate>
            <modules>
                <semaio_customsku>
                    <files>
                        <default>Semaio_CustomSku.csv</default>
                    </files>
                </semaio_customsku>
            </modules>
        </translate>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <semaio_customsku>
                        <class>semaio_customsku/observer</class>
                        <method>setCustomSkuOnQuoteItem</method>
                    </semaio_customsku>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <semaio_customsku>
                    <file>semaio_customsku.xml</file>
                </semaio_customsku>
            </updates>
        </layout>
        <translate>
            <modules>
                <semaio_customsku>
                    <files>
                        <default>Semaio_CustomSku.csv</default>
                    </files>
                </semaio_customsku>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <semaio_customsku>
                        <class>semaio_customsku/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </semaio_customsku>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Semaio_CustomSku/>
            </modules>
        </suite>
    </phpunit>
</config>
